html {
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    
}

.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    
    
}

.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: auto; 
	height: auto;
    background-image: url(/background/matrix.jpg);
    z-index: -1000;
    background-size: cover;
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(background/matrix.jpg) no-repeat;
	background-size: cover; 
}

#calculator {
    width: 280px;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: box;
    background-image: linear-gradient(180deg, rgb(6, 29, 6), rgb(119, 177, 119));
    font-size: 1.2rem;
    border: 2px solid;
    border-radius: 10px;
}

#display{
    display: grid;
    padding: auto;
    margin: auto;
    height: 40px;
    width: 290px;
    border: none;
    border-radius: 10px;
}

#outdisplay{
    display: grid;
    padding: auto;
    margin: auto;
    height: 40px;
    width: 290px;
    border-radius: 10px;
    background-color:rgb(189, 233, 218);
}

#display input {
    display:block;
    text-align: right;
    margin: 10px;
    padding-left: 3px;

    background: white;
    border-radius: 10px;
}

#keypad {
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding: 5px;
    margin: 10px;
}

#keypad input{
    width: 57px;
    height: 60px;

    border: none;
    border-radius: 20px ;
    cursor: pointer;
    background: white;
    margin: 4px 3px;
    padding: 4px 4px;
}

#keypad input:hover {
    background:rgb(94, 126, 47);
}

#keypad input.operator{
    font-weight: bolder;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(8, 48, 8);
}

#keypad input.operator:hover{
    background-color: rgb(47, 87, 47);
}

